## Copy this file to local.properties and set YOUR username path.
## Example: sdk.dir=C\:\\Users\\RAJ\\AppData\\Local\\Android\\Sdk

sdk.dir=C\:\\Users\\YOUR_WINDOWS_USERNAME\\AppData\\Local\\Android\\Sdk
